<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>{% block title %}Belle{% endblock %}</title>
        <meta charset="utf-8">

        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'belle/style.css' %}">
    </head>

    <body>
        <div id="header">
            <a href="{% url 'belle:home' %}">belle</a>
        </div>

        <hr>

        {% block body %}
            <!--This stuff appears when no body info is supplied. Please supply body info.-->
            <!--Please stop being here-->
            <h1>I don't know how you're here, but you shouldn't be.</h1>
            <h2>This page shouldn't come up, I think</h2>
            <h3>Please stop being here.</h3>
        {% endblock %}
    </body>
</html>
